doctype html
html
    head
        title !{name}
        link(rel="stylesheet" type="text/css" href="./css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css")
        link(rel="stylesheet" type="text/css" href="./css/uber-font.css")
        link(rel="stylesheet" type="text/css" href="./css/style.css")

        script(src="./js/jquery-1.12.0.min.js")
        script(src="./js/bootstrap.min.js")

    body
        header(class="header")
            div(class="container")
                div
                    h4 !{name}

        div(class="container")
            div(class="page_content")
              div(class="row")
                div(class="col-sm-3 border-right section-left")
                    div(class="sidebar-nav")
                        div(class="bloc")
                          h4 Documentation List
                          ul(id="version_list")
                            - var i = 0;
                            each version in versions
                              li
                                a(href="./" + version.version + "/index.html") V !{version.version}
                                  if i == 0
                                    span(class="glyphicon glyphicon-arrow-left" style="margin-left: 5px")
                                    
                              - i++;
                            
                div(class="col-sm-9 border-left section-right")
                  div(class="doc-content")
                    div(class="part")
                        h1 !{name}
                        hr

                        div(class="paragraph-header") !{description}


                    div(class="part")
                        h1 Versions list
                        hr

                        div(id="versions" class="paragraph-header")
                            each version in versions
                                div(class="big_part")
                                    h2
                                      a(href="./" + version.version + "/") V !{version.version}
                                    ul
                                      each change in version.changes
                                        li !{change}
                                    i by !{version.author}, !{version.date}
